.container {
  width: 100%;
  height: 100svh;

  background-color: #625241;
  background-image: url("../images/background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageSelectorContainer {
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee5d9;

  overflow: hidden;

  border: #625241 5px solid;
  border-radius: 5px;
}

.timerContainer {
  position: relative;
  width: 80%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bossTimerContainer {
  position: absolute;
  height: 90%;
  width: 100%;

  overflow-y: auto;
  gap: 10px;
}

.bossTimerContainer::-webkit-scrollbar {
  display: none;
}

.bossBox {
  position: relative;
  height: 20%;
  width: 80%;
  border-radius: 5px;
  z-index: 10;
  margin: 8px;
  background: rgb(113, 102, 95);
  background: linear-gradient(
    90deg,
    rgba(113, 102, 95, 1) 0%,
    rgba(227, 215, 203, 1) 20%
  );

  border: 2px solid whitesmoke;

  display: flex;
}

.bossIcon {
  height: 100%;
  width: 20%;
  background: rgb(113, 102, 95);
  background: radial-gradient(
    circle,
    rgba(113, 102, 95, 1) 32%,
    rgba(227, 215, 203, 0) 81%
  );
}

.bossIcon img {
  object-fit: none;
  height: 100%;
  width: 100%;

  zoom: 70%;
  object-position: 0%;
}
